Repository uu-semp/swedish-learning-app-2025, changes with the owners that CODEOWNERS names for each.
All owners: @xFrednet, @uu-semp/2025-data-team, @uu-semp/2025-menu-team, @uu-semp/2025-team-01, @uu-semp/2025-team-02, @uu-semp/2025-team-03, @uu-semp/2025-team-04, @uu-semp/2025-team-05, @uu-semp/2025-team-06, @uu-semp/2025-team-07, @uu-semp/2025-team-08, @uu-semp/2025-team-09, @uu-semp/2025-team-10, @uu-semp/2025-team-11, @uu-semp/2025-team-13, @uu-semp/2025-team-14, @uu-semp/2025-team-15, @uu-semp/2025-team-16

removed our local css border
  team11/data.js
Owners: @uu-semp/2025-team-11

added lvl3 button + page
  team15/components/index.js
  team15/components/views/chooseLevelView.js
  team15/components/views/levelThreeView.js
Owners: @uu-semp/2025-team-15

added general style guide
  index.css
  style.css
Owners: @uu-semp/2025-menu-team

updated style guide and removed header+footer from games
  index.css
  style.css
Owners: @uu-semp/2025-menu-team

hid extra text for games
  style.css
Owners: @uu-semp/2025-menu-team

Fetch items function + css change
  team11/index.css
  team16/index.js
Owners: @uu-semp/2025-team-11, @uu-semp/2025-team-16

generate list function
  team11/gameLogic.js
Owners: @uu-semp/2025-team-11

adding score counter component
  team15/components/assets/coin.png
  team15/components/elements/scoreCounter.js
  team15/components/styling/wardrobe.css
  team15/components/views/levelOneView.js
Owners: @uu-semp/2025-team-15

adding score.css
  team15/components/styling/score.css
Owners: @uu-semp/2025-team-15

first draft popups (not implemented in OUR game)
  team11/index.css
Owners: @uu-semp/2025-team-11

endgame functionalities (not done)
  team11/popup.html
Owners: @uu-semp/2025-team-11

chatbubble endgame (not perect)
  team11/popup.html
Owners: @uu-semp/2025-team-11

minimal design
  team11/popup.html
Owners: @uu-semp/2025-team-11

added pictures
  README.md
  team11/index.css
Owners: @xFrednet, @uu-semp/2025-team-11

pictures in the right places
  team11/index.css
Owners: @uu-semp/2025-team-11

added (prel) popup to index files
  team11/index.css
Owners: @uu-semp/2025-team-11

demobutton func to separate styling
  team11/demo-buttons.html
  team11/index.css
  team11/popup.html
Owners: @uu-semp/2025-team-11

start of separating endgame screen
  team11/demo-buttons.html
  team11/index.html
  team11/popup.html
Owners: @uu-semp/2025-team-11

change to endGame when completed game (not presented within game-frame)
  team11/popup.html
Owners: @uu-semp/2025-team-11

created endgame file
  team11/endGame.html
Owners: @uu-semp/2025-team-11

added code to endgame.html
  team11/endGame.html
Owners: @uu-semp/2025-team-11

changed code to popup.html
  team11/popup.html
Owners: @uu-semp/2025-team-11

corrected position of popup-chatbubble
  team11/index.css
Owners: @uu-semp/2025-team-11

added some hardcoded questions for the moment. they are triggered by the drag-and-drop events. need to extend to keep check when users do something right/wrong
  team02/level1.html
  team02/scripts/level1Questions.js
Owners: @uu-semp/2025-team-02

Team04#81: Implement dynamic level loading, shuffled question handling, and interactive game logic for the Clock it! game.
  scripts/vocabulary.js
  team04/app.js
  team04/components/cards.js
  team04/components/gameView.js
  team04/components/navigation.js
  team04/components/startView.js
  team04/components/statistics.js
  team04/utils/shuffleQuestions.js
Owners: @xFrednet, @uu-semp/2025-team-04

updating the main game. Changed color scheme. changed UI. Removed main_game_component folder.
  team08/index.js
  team08/main_game/main_game_component.html
  team08/main_game/main_game_script.js
  team08/main_game/main_game_style.css
  team08/main_game_component/maingame.css
  team08/main_game_component/maingame.html
  team08/main_game_component/maingame.js
Owners: @uu-semp/2025-team-08

added reset.css
  team08/main_game/main_game_component.html
Owners: @uu-semp/2025-team-08

correct/incorrect listening on food image clicks
  team11/data.js
  team11/index.html
  team11/main.js
  team11/popup.html
  team11/state.js
  team11/ui.js
Owners: @uu-semp/2025-team-11

correct word in shoppinglist highlighted
  team11/index.html
  team11/popup.html
  team11/ui.js
Owners: @uu-semp/2025-team-11

feat: add start page (HTML, CSS, JS)
  team13/start-page/flag-sweden.png
  team13/start-page/flag-us.png
  team13/start-page/game.html
  team13/start-page/house.png
  team13/start-page/index.html
  team13/start-page/personer.png
  team13/start-page/points.html
  team13/start-page/script.js
  team13/start-page/style.css
Owners: @uu-semp/2025-team-13

Team15/134 implemented three try-system
  team15/components/elements/incorrectAnswerFeedback.js
  team15/components/elements/pelleContainer.js
  team15/components/elements/triesManager.js
  team15/components/index.js
  team15/components/views/levelOneView.js
  team15/language/english.json
  team15/language/swedish.json
Owners: @uu-semp/2025-team-15

tried to fix the endgame popup
  team11/endGame.html
  team11/index.html
  team11/popup.html
Owners: @uu-semp/2025-team-11

[G15-132] added prompt component and logic for updating clothing item in level one
  team15/components/elements/dressPellePrompt.js
  team15/components/index.js
  team15/components/views/levelOneView.js
  team15/language/english.json
  team15/language/swedish.json
Owners: @uu-semp/2025-team-15

making sure the right link is chosen when you chose play again
  team11/endGame.html
  team11/index.css
Owners: @uu-semp/2025-team-11

styling clock w.r.t size of box
  team06/components/clock.css
Owners: @uu-semp/2025-team-06

removed back to menu button
  team11/endGame.html
  team11/index.html
  team11/popup.html
Owners: @uu-semp/2025-team-11

endgame modal made as chatbubble
  team11/endGame.html
Owners: @uu-semp/2025-team-11

Integrating all components to allow for fully playable game
  team08/index.js
  team08/main_game/main_game_script.js
  team08/select.html
  team08/selection/selection.js
Owners: @uu-semp/2025-team-08

update levelview
  team09/Views/LevelView1/Levelview.html
  team09/Views/LevelView1/levelview.css
  team09/Views/LevelView1/levelview.js
  team09/index.css
  team09/index.html
  team09/index.js
Owners: @uu-semp/2025-team-09

hover the shelf items
  team11/index.css
Owners: @uu-semp/2025-team-11

CODEOWNERS:

# Fallback, if no other rule matches
* @xFrednet

# Admin files
/.gitattributes @xFrednet
/CODEOWNERS @xFrednet
/.gitignore @xFrednet
/README.md @xFrednet
/.github @xFrednet

# Files owned by the data team
/words.csv @uu-semp/2025-data-team
/assets/gen-vocab.py @uu-semp/2025-data-team
/assets/vocabulary.json @uu-semp/2025-data-team
/assets/categories.json @uu-semp/2025-data-team

# Files owned by the menu team
/scripts/save.js @uu-semp/2025-menu-team
/scripts/SAVE.MD @uu-semp/2025-menu-team
/scripts/save_test.html @uu-semp/2025-menu-team
/index.css @uu-semp/2025-menu-team
/index.html @uu-semp/2025-menu-team
/index.js @uu-semp/2025-menu-team
/style.css @uu-semp/2025-menu-team
/assets/main_menu @uu-semp/2025-menu-team

# Game Teams:

/team01/ @uu-semp/2025-team-01
/assets/team01/ @uu-semp/2025-team-01
/team02/ @uu-semp/2025-team-02
/assets/team02/ @uu-semp/2025-team-02
/team03/ @uu-semp/2025-team-03
/assets/team03/ @uu-semp/2025-team-03
/team04/ @uu-semp/2025-team-04
/assets/team04/ @uu-semp/2025-team-04
/team05/ @uu-semp/2025-team-05
/assets/team05/ @uu-semp/2025-team-05
/team06/ @uu-semp/2025-team-06
/assets/team06/ @uu-semp/2025-team-06
/team07/ @uu-semp/2025-team-07
/assets/team07/ @uu-semp/2025-team-07
/team08/ @uu-semp/2025-team-08
/assets/team08/ @uu-semp/2025-team-08
/team09/ @uu-semp/2025-team-09
/assets/team09/ @uu-semp/2025-team-09
/team10/ @uu-semp/2025-team-10
/assets/team10/ @uu-semp/2025-team-10
/team11/ @uu-semp/2025-team-11
/assets/team11/ @uu-semp/2025-team-11
# Menu team:
# /team12/ @uu-semp/2025-team-12
/team13/ @uu-semp/2025-team-13
/assets/team13/ @uu-semp/2025-team-13
/team14/ @uu-semp/2025-team-14
/assets/team14/ @uu-semp/2025-team-14
/team15/ @uu-semp/2025-team-15
/assets/team15/ @uu-semp/2025-team-15
/team16/ @uu-semp/2025-team-16
/assets/team16/ @uu-semp/2025-team-16
