Repository uu-semp/swedish-learning-app-2025, changes with the owners that CODEOWNERS names for each.
All owners: @xFrednet, @uu-semp/2025-data-team, @uu-semp/2025-menu-team, @uu-semp/2025-team-01, @uu-semp/2025-team-02, @uu-semp/2025-team-03, @uu-semp/2025-team-04, @uu-semp/2025-team-05, @uu-semp/2025-team-06, @uu-semp/2025-team-07, @uu-semp/2025-team-08, @uu-semp/2025-team-09, @uu-semp/2025-team-10, @uu-semp/2025-team-11, @uu-semp/2025-team-13, @uu-semp/2025-team-14, @uu-semp/2025-team-15, @uu-semp/2025-team-16

Fixed some basic styling of the coin
  team15/components/styling/score.css
  team15/components/styling/wardrobe.css
  team15/index.css
  team15/index.html
Owners: @uu-semp/2025-team-15

Add global css and mainview page
  team09/Global.css
  team09/Views/GameMainPage/GameMainPage.css
  team09/Views/GameMainPage/GameMainPage.html
  team09/Views/GameMainPage/GameMainPage.js
  team09/Views/LevelView1/Levelview.html
  team09/Views/LevelView1/levelview.css
  team09/Views/levelSelectPage/levelSelect.css
  team09/Views/levelSelectPage/levelSelect.html
  team09/Views/levelSelectPage/levelSelect.js
  team09/readme.md
Owners: @uu-semp/2025-team-09

team16/frontend 1st version complete
  team16/Kevin.png
  team16/index.css
  team16/index.html
  team16/level.html
  team16/level.js
  team16/map.png
  team16/welcomeComponent.css
  team16/welcomeComponent.js
Owners: @uu-semp/2025-team-16

question dataset questions1 with readme added
  team06/data/README.md
  team06/data/questions1.json
Owners: @uu-semp/2025-team-06

renamed files
  team06/data/questions.json
  team06/data/questions1.json
  team06/data/questions_sample.json
Owners: @uu-semp/2025-team-06

fix: uu logo removed from header
  index.css
  index.html
Owners: @uu-semp/2025-menu-team

SCRUM-143 Feat: Input field and submit button added.
  team10/level3.css
  team10/level3.html
  team10/level3.js
Owners: @uu-semp/2025-team-10

SCRUM-143 Feat: Added files for level 3 and temporary link from the main page to the level 3 page.
  team10/level3.css
  team10/level3.html
  team10/level3.js
Owners: @uu-semp/2025-team-10

SCRUM-143 Feat: Added hardcoded placeholder image
  team10/level3.css
  team10/level3.html
  team10/level3.js
Owners: @uu-semp/2025-team-10

Team10-138 Renamed the game page files. Restyled the game page to remove level indicator and instructions. Added navigation betwwen pages.
  team10/level_three/game_page.css
  team10/level_three/game_page.html
  team10/level_three/game_page.js
  team10/level_three/level3.html
Owners: @uu-semp/2025-team-10

Team 10-138 Moved level 3 files into level 3 directory
  team10/level_three/level3.css
  team10/level_three/level3.html
  team10/level_three/level3.js
Owners: @uu-semp/2025-team-10

SCRUM-143 Feat: Added field for instructions
  team10/level3.css
  team10/level3.html
  team10/level3.js
Owners: @uu-semp/2025-team-10

Team 10 - 138 Refactored to use vue components instead of separate html pages. Added script that fetches 10 random words when starting a game.
  team10/level_three/game_logic.js
  team10/level_three/game_page.css
  team10/level_three/game_page.html
  team10/level_three/game_page.js
  team10/level_three/level_three.html
Owners: @uu-semp/2025-team-10

restore frontend views
  team06/index.html
Owners: @uu-semp/2025-team-06

Team 10-138 Changed colour of buttons to primary colour
  team10/level_three/game_page.css
Owners: @uu-semp/2025-team-10

early stage translation
  team13/index.html
  team13/index.js
Owners: @uu-semp/2025-team-13

Team07 (#38): Created a table to list the high scores for different categories
  team07/highscore-page.html
  team07/highscores-page.css
Owners: @uu-semp/2025-team-07

Team07 (#38): Added back button to main menu(index.html)
  team07/highscore-page.html
  team07/highscores-page.css
Owners: @uu-semp/2025-team-07

Team07 (#38): Created page for displaying high scores of game. Added a title in the page.
  team07/highscore-page.html
  team07/highscores-page.css
Owners: @uu-semp/2025-team-07

Prompt keeps track of translated words
  team13/index.js
Owners: @uu-semp/2025-team-13

Simple translation
  team13/index.js
Owners: @uu-semp/2025-team-13

Team07 #42 and #54: Show score on result page and give feedback based on the score
  team07/game-page.js
  team07/results-page.html
  team07/results-page.js
Owners: @uu-semp/2025-team-07

swedish number
  team13/index.js
Owners: @uu-semp/2025-team-13

Basic game integration
  team06/components/clock.js
  team06/index.css
  team06/index.html
  team06/index.js
  team06/styles/game.css
Owners: @uu-semp/2025-team-06

added licences for the team specific images
  team15/components/assets/glasses.png
  team15/components/assets/licenses/coin.license
  team15/components/assets/licenses/pelle.license
  team15/components/assets/licenses/team15FlagEN.license
  team15/components/assets/licenses/team15FlagSE.license
  team15/components/assets/licenses/team15Hat.license
  team15/components/assets/licenses/team15Pants.license
  team15/components/assets/licenses/team15Shirt.license
  team15/components/assets/licenses/team15Shoes.license
Owners: @uu-semp/2025-team-15

Small bugfix for clock update
  team06/index.js
Owners: @uu-semp/2025-team-06

Added: menu, progression, translation button. Changed: debug gamestate button -> back to menu button.
  team13/index.css
  team13/index.html
  team13/index.js
Owners: @uu-semp/2025-team-13

remake of translations json and the languagle toggle function
  assets/main_menu/menu_text/en.json
  assets/main_menu/menu_text/sv.json
  assets/main_menu/menu_translations.json
  index.html
  index.js
Owners: @uu-semp/2025-menu-team

fixed initialization
  index.html
  index.js
Owners: @uu-semp/2025-menu-team

Add files via upload
  team13-game-front-end/flag-sweden.png
  team13-game-front-end/flag-us.png
  team13-game-front-end/game.html
  team13-game-front-end/house.png
  team13-game-front-end/index.html
  team13-game-front-end/personer.png
  team13-game-front-end/points.html
  team13-game-front-end/script.js
  team13-game-front-end/style.css
Owners: @xFrednet

local Red Room updates by Zarin Biash
  team05/index.html
  team05/js/index.js
  team05/styles/index.css
Owners: @uu-semp/2025-team-05

CODEOWNERS:

# Fallback, if no other rule matches
* @xFrednet

# Admin files
/.gitattributes @xFrednet
/CODEOWNERS @xFrednet
/.gitignore @xFrednet
/README.md @xFrednet
/.github @xFrednet

# Files owned by the data team
/words.csv @uu-semp/2025-data-team
/assets/gen-vocab.py @uu-semp/2025-data-team
/assets/vocabulary.json @uu-semp/2025-data-team
/assets/categories.json @uu-semp/2025-data-team

# Files owned by the menu team
/scripts/save.js @uu-semp/2025-menu-team
/scripts/SAVE.MD @uu-semp/2025-menu-team
/scripts/save_test.html @uu-semp/2025-menu-team
/index.css @uu-semp/2025-menu-team
/index.html @uu-semp/2025-menu-team
/index.js @uu-semp/2025-menu-team
/style.css @uu-semp/2025-menu-team
/assets/main_menu @uu-semp/2025-menu-team

# Game Teams:

/team01/ @uu-semp/2025-team-01
/assets/team01/ @uu-semp/2025-team-01
/team02/ @uu-semp/2025-team-02
/assets/team02/ @uu-semp/2025-team-02
/team03/ @uu-semp/2025-team-03
/assets/team03/ @uu-semp/2025-team-03
/team04/ @uu-semp/2025-team-04
/assets/team04/ @uu-semp/2025-team-04
/team05/ @uu-semp/2025-team-05
/assets/team05/ @uu-semp/2025-team-05
/team06/ @uu-semp/2025-team-06
/assets/team06/ @uu-semp/2025-team-06
/team07/ @uu-semp/2025-team-07
/assets/team07/ @uu-semp/2025-team-07
/team08/ @uu-semp/2025-team-08
/assets/team08/ @uu-semp/2025-team-08
/team09/ @uu-semp/2025-team-09
/assets/team09/ @uu-semp/2025-team-09
/team10/ @uu-semp/2025-team-10
/assets/team10/ @uu-semp/2025-team-10
/team11/ @uu-semp/2025-team-11
/assets/team11/ @uu-semp/2025-team-11
# Menu team:
# /team12/ @uu-semp/2025-team-12
/team13/ @uu-semp/2025-team-13
/assets/team13/ @uu-semp/2025-team-13
/team14/ @uu-semp/2025-team-14
/assets/team14/ @uu-semp/2025-team-14
/team15/ @uu-semp/2025-team-15
/assets/team15/ @uu-semp/2025-team-15
/team16/ @uu-semp/2025-team-16
/assets/team16/ @uu-semp/2025-team-16
